# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies**
**/node_modules
**/package-lock.json
/.pnp
.pnp.js
**/venv
**/.venv

.idea
/.idea
**/.idea
.vscode
/.vscode
**/.vscode

/azure_functions/.venv
/azure_functions/.ropeproject

__pycache__
**/__pycache__
**/.eslintcache

#local files
/*.db
/*.min.css
**/*.db

# testing
/coverage

# production
/build
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
